Question 5

There is a table World in the attached SQL file. SQL.txt 

A country is big if it has an area of bigger than 3 million square km or a population of more than 25 million.

Write a SQL solution to output big countries' name, population and area.

In an ipython notebook create a sqlite3 database and a table called World. Insert the World data into your table (python + SQL syntax) and then proceed to write the big countries query. Your output does not need to be formatted like table, you may just print the countries with thier populations and areas.

Upload your ipython notebook with output to this question.

In [5]:
# Connections and creations
import sqlite3
connection = sqlite3.connect('world.db')

In [8]:
# creating field name, continent, area, population and gdp
connection.execute('''CREATE TABLE world (name TEXT NOT NULL, continent TEXT NOT NULL, area INTEGER NOT NULL, population INTEGER NOT NULL, gdp INTEGER NOT NULL)''')

In [9]:
# Data insertion
connection.execute("INSERT INTO World VALUES ('Afghanistan', 'Asia', 652230, 25500100, 20343000)")

In [10]:
connection.execute("INSERT INTO World VALUES ('Albania', 'Europe', 28748, 2831741, 12960000)")

In [11]:
connection.execute("INSERT INTO World VALUES ('Algeria', 'Africa', 2381741, 37100000, 188681000)")

In [12]:
connection.execute("INSERT INTO World VALUES ('Andorra', 'Europe', 468, 78115, 3712000)")

In [13]:
connection.execute("INSERT INTO World VALUES ('Angola', 'Africa', 1246700, 20609294, 100990000)")

In [14]:
# Changes will be stored permanently in the created Database(World.db)
connection.commit()

In [15]:
# Finding the big Countries having area bigger than 3M square km or population more than 25M.
bigCoun = connection.execute('SELECT name, population, area FROM World WHERE area > 3000000 OR population > 25000000').fetchall()
for country in bigCoun:
    print(country)

('Afghanistan', 25500100, 652230)
('Algeria', 37100000, 2381741)